<!DOCTYPE html>
<html ng-app="app">
<head>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery_notification.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/toastr.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    
    <div class="wrapper">
        <div class="header-cont">
		
		<div class="navs" ng-controller="LayoutController">
			
			<ul class="mnav">
                                            
                <li ng-hide="global.isAuthenticated"><a href="/Account/Register" class="join">Join Now</a></li>
                <li ng-hide="global.isAuthenticated"><a href="/Account/Logon" class="login">Login</a></li>
                
                <li ng-show="global.isAuthenticated"><a href="/book/createbook" class="join">@User.Identity.Name</a></li>				
                <li ng-show="global.isAuthenticated"><a href="#" ng-click="logout()" class="login">Logout</a></li>
                
			</ul>
			<div class="clear"></div>
			
			<ul class="top-nav">
				<li class="home"><a href="/"></a></li>
				<li><a href="/Home/FindBook">Find eBooks</a></li>
                <li ng-show="global.isAuthenticated"><a href="/book/createbook">My Account</a></li>
				<li><a href="/Home/About">About Us</a></li>
			</ul>
		</div>
		</div>
				
		<div class="column-left">
			<input type="text" name="search" class="search-left" />
			<div class="divider"></div>
			
			<button class="orange" name="addbook" id="addbook" onclick="window.location='/book/createbook'"><span id="addbooktxt">Submit your Book</span></button>
            
            <ul class="categories" ng-show="global.showMyLinks">
                <li class="heading">My Links</li>
                <li><a href="#" class="my-books">My Books</a></li>
                <li><a href="/Book/CreateBook" class="create-book active">Create Book</a></li>
                @*<li><a href="#" class="sales">Sales</a></li>*@
                <li><a href="#" class="account">Account</a></li>
                <li><a href="/Book/Administrative" class="account">Administrative</a></li>
            </ul>

			<ul class="categories" ng-controller="LayoutController">
				<li class="heading">Categories</li>
                <li ng-repeat="cat in categories"><a href="/Categories/Index/{{cat.id}}">{{cat.name}}</a></li>
			</ul>
		</div>
		
		<div class="column-right">
            @RenderBody()
        </div>
        <div class="clear">
        </div>

       
        <div class="footer">
            <div class="f-desc">
                
            </div>
            
            @{ Html.RenderPartial("_NewsLetter"); }
            
            
            <div class="clear">
            </div>
            <div style="float: left; margin-top: 40px">
                <a href="/home/privacy">Privacy, Terms and FAQ</a>
            </div>
            <div style="float:right; margin: 40px">
                Copyright &copy; @DateTime.Now.ToString("yyyy") All Rights Reserved.
            </div>
        </div>
    </div>

    <script src="/Scripts/libs/angular-file-upload-shim.min.js" type="text/javascript"></script>
    <script src="/Scripts/libs/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/Scripts/libs/angular.min.js" type="text/javascript"></script>
    <script src="/Scripts/libs/underscore.min.js" type="text/javascript"></script>
    <script src="/Scripts/libs/restangular.js" type="text/javascript"></script>
    <script src="/Scripts/libs/toastr.min.js" type="text/javascript"></script>
    <script src="/Scripts/libs/ui-bootstrap-0.9.0.min.js" type="text/javascript"></script>
    <script src="/Scripts/libs/ui-bootstrap-tpls-0.9.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
    <script src="/Scripts/libs/jquery_notification_v.1.js" type="text/javascript"></script>
    <script src="/Scripts/libs/jquery.cookie.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/Scripts/Views/Shared/enums.js" type="text/javascript"></script>
    <script src="/Scripts/Views/Common/common.js" type="text/javascript"></script>
    <script src="/Scripts/Views/Common/logger.js" type="text/javascript"></script>
    <script src="/Scripts/Views/Shared/layout.js" type="text/javascript"></script>
    <script src="/Scripts/Views/Shared/config.js" type="text/javascript"></script>
    <script src="/Scripts/Views/Shared/config.exceptionHandler.js" type="text/javascript"></script>
    <script src="/Scripts/libs/angular-file-upload.min.js" type="text/javascript"></script>
    
    @RenderSection("Scripts", false)

<script>        (function () { var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true; uv.src = '//widget.uservoice.com/s8qcc2v1vCZNiY2KPuKR1w.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s) })()</script>
<script>
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
        mode: 'full',
        primary_color: '#cc6d00',
        link_color: '#007dbf',
        default_mode: 'support',
        forum_id: 216555,
        tab_label: 'Feedback & Support',
        tab_color: '#cc6d00',
        tab_position: 'middle-right',
        tab_inverted: false
    }]);
</script>
</body>
</html>
